/*全站通用*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0; font:12px/1.6 'Helvetica Neue',Helvetica,Arial; }
body {width:100%; margin: 0 auto; font:12px/1.6 'Helvetica Neue',Helvetica,Arial; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; line-height:20px; }
pre { margin:0px; padding:0px; }
pre {white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;} /*让pre中的内容自动换行*/
ul {list-style-type:none;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a {text-decoration:none;} /*删除a的下划线*/
a:focus { outline: none; }
a:hover {cursor:pointer;}
img {border:none} /*删除图片边框*/
br{ display:inline; line-height:11px; }

:focus {outline:none;} /*清除webkit的focus边框*/

/*ie text overflow*/
.ellipsis span { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
/*ff text overflow
.ellipsis { clear:both;}
.ellipsis:after { content:".."; }
*/

.clearfix { height:0px; clear: both; }
.clearfix:after { content: "."; display: block; height:0px; clear: both; visibility: hidden; }
html[xmlns] .clearfix {display: block; height:0px; clear: both; visibility: hidden; }
* html .clearfix {height: 1%; clear: both; visibility: hidden; }

.hidden {display:none;}
.rr {float:right;}
.ll {float:left;}
.clear {clear:both;}

/*botton style 01(input submit btn style)----begins */
.btn01 { height:24px; }
.btn01 input:hover { cursor:pointer; }
.btn01 input { background-color:#fff;border:none; font-size:13px; background:url(/img/common/icon/zark_botton4_1.gif)  no-repeat; display:block; float:left;  height:24px; padding-left:10px; }
.btn01 span {display:block; background:url(/img/common/icon/zark_botton4_2.gif) top right no-repeat; width:12px;height:24px; float:left; }  
/*botton style 01----ends */

/* round corner */
.corner4px {border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px; }
.corner8px {border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; -khtml-border-radius:8px; }
.corner10px {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -khtml-border-radius:10px; }
.corner15px {border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; -o-border-radius:15px; -khtml-border-radius:15px; }
.corner20px {border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -o-border-radius:20px; -khtml-border-radius:20px; }
.corner30px {border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; -o-border-radius:30px; -khtml-border-radius:30px; }
.corner60px {border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px; -o-border-radius:60px; -khtml-border-radius:60px; }

/*--------------------Color Code Home Page Css-----------------------------------*/
body{ text-align:center; color:#fff;  overflow-y:scroll; background:url(/img/flowers.jpg) top center no-repeat;   }
/*.top_nav {width:100%; height:30px; background-color:#000; }*/

.cc_top {  height:71px; margin-left:50px;  margin-top:70px;   }
.cc_logo { background:url(/img/Color_Code_logo.png) 0 -71px no-repeat; position:relative; width:272px; height:71px; float:left; }
.headline { display:none; float:left; padding-left:50px; margin-left:270px; height:100px; margin-top:-30px; position:relative; }
.headline p { display:block;  white-space:nowrap; font-size:16px; line-height:30px; color:#fff; background-color:#2ea2e4; height:30px; padding:0 20px; position:relative; z-index:10000; }
.headline_tri { border-color:#2ea2e4 transparent transparent; border-style:solid dashed dashed; border-width:15px 18px 0 0; height:0; width:0; position:absolute; top:30px; left:20px; }
.headline .loading_icon { display:block;  background:url(/img/headline_icon.gif) top left no-repeat; width:53px; height:60px; float:left; position:absolute; left:20px; bottom:5px;}
.cc_logo:hover { background:url(/img/Color_Code_logo.png) 0 0 no-repeat;}
.cc_logo:hover .headline {display:block;} 
.cc_sub_logo { background:url(/img/Color_Code_03.png) top no-repeat; background-color:#fff; padding:3px 15px; width:229px; height:25px; margin-top:43px;  float:right;}

.content_box {width:100%;  margin-top:30px; padding-bottom:100px; float:left; position:relative; }
.code_box { margin-left:50px; float:left; border:10px solid #d9d9d9; background-color:#000; box-shadow:1px 2px 4px #313131; -moz-box-shadow:1px 2px 4px #313131; -webkit-box-shadow:1px 2px 4px #313131; -o-box-shadow:1px 2px 4px #313131; -khtml-box-shadow:1px 2px 4px #313131; }
.color_code_box_loading_overlay { border:none; background-color:#000; position:absolute; z-index:20; text-align:left; width:600px; height:350px; display:none; }
.color_code_box_loading_overlay .loading_icon_wrapper { position:relative; }
.color_code_box_loading_overlay .loading_icon { position:absolute; top:30px; background:url(/img/loading.gif) top left no-repeat; width:300px; height:300px; }
.code_box .black_code_box { resize:none; margin:20px;  height:350px; border:none; float:left; background-color:#000; color:#45ed00; font-size:24px; font-family:Andale Mono, Courier New, Helvetica, Arial; line-height:20px; overflow-y:hidden; }
.code_box .color_code_box { display:block; border:none; background-color:#000; color:#45ed00; font-size:14px; font-family:Andale Mono, Courier New, Helvetica, Arial; line-height:20px; position:absolute; z-index:10; text-align:left; display: none; }
.tool_box_overlay { position:absolute; right:200px; z-index:10000; width:126px; height:410px; display:none;}
.tool_box { float:right; margin-right:200px; width:126px; height:410px; text-align:center;  background-color:#d9d9d9; box-shadow:1px 2px 4px #313131; -moz-box-shadow:1px 2px 4px #313131; -webkit-box-shadow:1px 2px 4px #313131; -o-box-shadow:1px 2px 4px #313131; -khtml-box-shadow:1px 2px 4px #313131; }
.color_it_wrapper { position:relative;}
.color_it_box { position:relative; margin-left:15px;  margin-top:10px;}
.tool_box .color_it {  float:left; display:block; width:60px; margin:0 auto;  padding:5px; background-color:#448ccb; font-size:16px; color:#fff; text-align:center; }
.tool_box .color_it:hover { background-color:#ff267c;} 
.tool_box .color_it:active { background-color:#ff267c; box-shadow:0 1px 3px #313131 inset;} 
.tool_box .choose_lang { display: block; float:left; width:10px; margin-left:5px; background-color:#448ccb; text-align:center; padding:5px; height:25px; position:relative;}
.tool_box .choose_lang:hover { background-color:#2ea2e4;} 
.tool_box .choose_lang_active { background-color:#2ea2e4; box-shadow:0 1px 3px #313131 inset; } 
.tool_box .choose_lang .lang_tri { border-color:#fff transparent transparent; border-style:solid dashed; border-width:5px; height:0; width:0; position:absolute; top:15px; left:5px; }
.tool_box .btn_other { display:block; width:80px; margin:0 auto;  padding:5px; background-color:#448ccb; font-size:16px; color:#fff; text-align:center; margin-top:10px;  }
.tool_box .choose_lang_box {font-size:16px; float:left; background-color:#000; width:270px; margin-left:14px; margin-top:10px;  position:absolute; left:0; z-index:10000; }
.tool_box .choose_lang_box .default_type { display:block; background-color:#fff; color:#000; font-size:12px;  padding:1px 4px; margin:12px 10px 10px 10px; }
.tool_box .choose_lang_box ul { float:left; width:100%; padding-bottom:10px;  }
.tool_box .choose_lang_box ul li { display:block; padding:3px 4px; float:left; font-size:14px; cursor:pointer; }
.tool_box .choose_lang_box ul li {  margin:8px 0 10px 7px; width:70px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px; }
.tool_box .choose_lang_box ul li:hover { background-color:#ff267c;  }
.tool_box .choose_lang_box .lang_input_box { position:relative; }
.tool_box .choose_lang_box .lang_input  { font-size:14px; color:gray; display:block; width:85%; border:5px solid #ff267c;  padding:4px 4px; text-align:center; margin:0px auto 12px auto;   }
.tool_box .choose_lang_box .lang_input_tip { position:absolute; top:60px; left:0; display:block; width:80px; height:80px;  padding:10px; font-size:16px; color:#fff; background-color:#448ccb;  }
.lang_input_tri { border-color:transparent transparent #448ccb transparent; border-style:solid dashed; border-width:15px 10px; height:0; width:0; position:absolute; top:-27px; left:40px; }
.word_enter { color:#fff; text-shadow:1px 1px 1px #000;}

.tool_box .copy_code { width:85px; margin-left:14px; margin-top:10px; padding:5px; background-color:gray; color:#fff; text-align:center; float:left; position:relative; }
.tool_box .copy_code .copy_code_tip { position:absolute; right:-55px; top:0; display:none; width:30px; height:30px; background-color:#448ccb; color:#fff; line-height:30px; }
.tool_box .copy_code_ready {background-color:#448ccb;}
.tool_box .reformat{ width:85px; margin-left:14px; margin-top:10px; padding:5px; background-color:#b9b9b9; font-size:16px; color:#000; text-align:center; float:left;}

.tool_box .show_lines{ width:85px; margin-left:14px; margin-top:10px; padding:5px; background-color:#b9b9b9; font-size:16px; color:#000; text-align:center; float:left;}

.font_change_wrapper { width:95px; margin-left:14px; margin-top:10px; float:left;}
.font_change_wrapper .turn_box {color:#fff; width:24px; height:24px; display:block; float:left; font-size:24px; line-height:24px; background-color:#448ccb; cursor:pointer; }
.font_change_wrapper .show_font_size { display:block; font-size:16px; color:#1b80ba; width:47px; line-height:24px; text-align:center; float:left;}
.font_change_wrapper .turn_box:hover { background-color:#2ea2e4;}
.font_change_wrapper .turn_box:active { background-color:#2ea2e4; box-shadow:0 1px 3px #313131 inset; }
