/*全站通用*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0; font:12px/1.6 'Helvetica Neue',Helvetica,Arial; }
body {width:100%; margin: 0 auto; font:12px/1.6 'Helvetica Neue',Helvetica,Arial; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; line-height:20px; }
pre { margin:0px; padding:0px; }
pre {white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;} /*让pre中的内容自动换行*/
ul {list-style-type:none;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a {text-decoration:none;} /*删除a的下划线*/
a:focus { outline: none; }
a:hover {cursor:pointer;}
img {border:none} /*删除图片边框*/
br{ display:inline; line-height:11px; }

:focus {outline:none;} /*清除webkit的focus边框*/

/*ie text overflow*/
.ellipsis span { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
/*ff text overflow
.ellipsis { clear:both;}
.ellipsis:after { content:".."; }
*/

.clearfix { height:0px; clear: both; }
.clearfix:after { content: "."; display: block; height:0px; clear: both; visibility: hidden; }
html[xmlns] .clearfix {display: block; height:0px; clear: both; visibility: hidden; }
* html .clearfix {height: 1%; clear: both; visibility: hidden; }

.hidden {display:none;}
.rr {float:right;}
.ll {float:left;}
.clear {clear:both;}

/*botton style 01(input submit btn style)----begins */
.btn01 { height:24px; }
.btn01 input:hover { cursor:pointer; }
.btn01 input { background-color:#fff;border:none; font-size:13px; background:url(/img/common/icon/zark_botton4_1.gif)  no-repeat; display:block; float:left;  height:24px; padding-left:10px; }
.btn01 span {display:block; background:url(/img/common/icon/zark_botton4_2.gif) top right no-repeat; width:12px;height:24px; float:left; }  
/*botton style 01----ends */

/* round corner */
.corner4px {border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px; }
.corner8px {border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; -khtml-border-radius:8px; }
.corner10px {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -khtml-border-radius:10px; }

/*--------------------Color Code Home Page Css-----------------------------------*/
body{ text-align:center; color:#fff; background:url(/img/sky_bg01.jpg) top center fixed;} 
.top_nav {width:100%; height:30px; background-color:#000;}

.cc_top { width:810px; height:71px; margin:0 auto; margin-top:80px; }
.cc_logo { background:url(/img/Color_Code_01.png) top no-repeat; width:393px; height:71px;  float:left;}
.cc_logo:hover { background:url(/img/Color_Code_02.png) top no-repeat;}
.cc_sub_logo { background:url(/img/Color_Code_03.png) top no-repeat; width:229px; height:25px; margin-top:43px; margin-right:5px; float:right;}

.content_box { width:810px; margin:0 auto; margin-top:30px; }
.code_box {width:740px; float:left; }
.code_box .black_code_box { width:740px; max-width:740px; min-width:740px; height:290px; min-height:290px; float:left;  border:10px solid #d9d9d9; border-radius:8px 0 0 8px; -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; -o-border-radius:8px 0 0 8px; -khtml-border-radius:8px 0 0 8px; background-color:#313131; color:#45ed00; font-size:14px; font-family:Andale Mono, Courier New, Helvetica, Arial; line-height:20px;  }
.code_box .color_code_box { width:740px; height:290px; max-width:740px; min-width:740px; min-height:290px; border:10px solid #d9d9d9; border-radius:8px 0 0 8px; -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; -o-border-radius:8px 0 0 8px; -khtml-border-radius:8px 0 0 8px; background-color:#313131; color:#45ed00; font-size:14px; font-family:Andale Mono, Courier New, Helvetica, Arial; line-height:20px; position:absolute; z-index:10; text-align:left; display: none; }
.tool_box { float:left; width:50px; height:310px; padding-left:10px; background-color:#d9d9d9; border-radius:0 8px 8px 0; -moz-border-radius:0 8px 8px 0; -webkit-border-radius:0 8px 8px 0; -o-border-radius:0 8px 8px 0; -khtml-border-radius:0 8px 8px 0; }
.tool_box .btn_text { display:block; float:right; width:40px; padding:3px 5px; background-color:#448ccb; font-size:16px; color:#fff; text-align:center; margin-top:10px; border-radius:4px 0 0 4px; box-shadow:2px 2px 3px #585858 inset; }
.tool_box .btn_text:hover {  box-shadow:0 0 0 #585858 inset; }

