/*全站通用*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0; font:12px/1.6 'Helvetica Neue',Helvetica,Arial; }
body {width:100%; margin: 0 auto; font:12px/1.6 'Helvetica Neue',Helvetica,Arial; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; line-height:20px; }
pre { margin:0px; padding:0px; }
pre {white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;} /*让pre中的内容自动换行*/
ul {list-style-type:none;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a {text-decoration:none;} /*删除a的下划线*/
a:focus { outline: none; }
a:hover {cursor:pointer;}
img {border:none} /*删除图片边框*/
br{ display:inline; line-height:11px; }

:focus {outline:none;} /*清除webkit的focus边框*/

/*ie text overflow*/
.ellipsis span { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
/*ff text overflow
.ellipsis { clear:both;}
.ellipsis:after { content:".."; }
*/

.clearfix { height:0px; clear: both; }
.clearfix:after { content: "."; display: block; height:0px; clear: both; visibility: hidden; }
html[xmlns] .clearfix {display: block; height:0px; clear: both; visibility: hidden; }
* html .clearfix {height: 1%; clear: both; visibility: hidden; }

.hidden {display:none;}
.rr {float:right;}
.ll {float:left;}
.clear {clear:both;}

/*botton style 01(input submit btn style)----begins */
.btn01 { height:24px; }
.btn01 input:hover { cursor:pointer; }
.btn01 input { background-color:#fff;border:none; font-size:13px; background:url(/img/common/icon/zark_botton4_1.gif)  no-repeat; display:block; float:left;  height:24px; padding-left:10px; }
.btn01 span {display:block; background:url(/img/common/icon/zark_botton4_2.gif) top right no-repeat; width:12px;height:24px; float:left; }  
/*botton style 01----ends */

/* round corner */
.corner4px {border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px; }
.corner8px {border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; -khtml-border-radius:8px; }
.corner10px {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -khtml-border-radius:10px; }

/*--------------------Color Code Home Page Css-----------------------------------*/
body{ text-align:center; color:#fff; background:url(/img/sky_bg01.jpg) top center fixed;} 
.top_nav {width:100%; height:30px; background-color:#000;}

.cc_top { width:810px; height:71px; margin:0 auto; margin-top:80px; }
.cc_logo { background:url(/img/Color_Code_01.png) top no-repeat; width:393px; height:71px;  float:left;}
.cc_logo:hover { background:url(/img/Color_Code_02.png) top no-repeat;}
.cc_sub_logo { background:url(/img/Color_Code_03.png) top no-repeat; width:229px; height:25px; margin-top:43px; margin-right:10px; float:right;}

.content_box { width:810px; margin:0 auto; margin-top:30px; position:relative; }
.code_box {width:780px; float:left; }
.code_box .black_code_box { width:740px; max-width:740px; min-width:740px; padding:20px; min-height:350px; float:left;  border:10px solid #d9d9d9;  background-color:#000; color:#45ed00; font-size:14px; font-family:Andale Mono, Courier New, Helvetica, Arial; line-height:20px; overflow-y:hidden; }
.code_box .color_code_box { width:740px;  max-width:740px; min-width:740px; min-height:350px; border:10px solid #d9d9d9;  background-color:#000; color:#45ed00; font-size:14px; font-family:Andale Mono, Courier New, Helvetica, Arial; line-height:20px; position:absolute; z-index:10; text-align:left; display: none; }
.tool_box { float:left; width:150px; height:310px; text-align:center; background-color:#d9d9d9; position:absolute; right:-180px;  }
.color_it_wrapper { position:relative;}
.color_it_box { position:relative; margin-left:14px;  margin-top:10px;}
.tool_box .color_it {  float:left; display:block; width:80px; margin:0 auto;  padding:5px; background-color:#448ccb; font-size:16px; color:#fff; text-align:center; }
.tool_box .color_it:hover { background-color:#2ea2e4;} 
.tool_box .color_it:active { background-color:#2ea2e4; box-shadow:0 1px 3px #313131 inset;} 
.tool_box .choose_lang { display: block; float:left; width:16px; margin-left:8px; background-color:#448ccb; text-align:center; padding:5px; height:26px; position:relative;}
.tool_box .choose_lang:hover { background-color:#2ea2e4;} 
.tool_box .choose_lang:active { background-color:#2ea2e4; box-shadow:0 1px 3px #313131 inset;} 
.tool_box .choose_lang .lang_tri { border-color:#fff transparent transparent; border-style:solid; dashed; border-width:8px; height:0; width:0; position:absolute; top:15px; left:4px; }
.tool_box .btn_other { display:block; width:80px; margin:0 auto;  padding:5px; background-color:#448ccb; font-size:16px; color:#fff; text-align:center; margin-top:10px;  }
.tool_box .choose_lang_box {font-size:16px; float:left; background-color:#000; width:122px; margin-left:14px; margin-top:10px; }
.tool_box .choose_lang_box ul { float:left; width:100%; padding-bottom:20px;  }
.tool_box .choose_lang_box ul li { display:block; padding:5px 4px; font-size:16px; }
.tool_box .choose_lang_box ul .default_type { background-color:#fff; color:#000; width:100px; font-size:12px;  padding:1px 4px;margin:7px 0 10px 7px; }
.tool_box .choose_lang_box ul .li_python {  margin:8px 0 10px 7px; width:100px;}
.tool_box .choose_lang_box ul .li_python:hover { background-color:#00abe1;  }
.tool_box .choose_lang_box ul .li_html {   margin:8px 0 10px 7px; width:100px;}
.tool_box .choose_lang_box ul .li_html:hover { background-color:#ff247b; }
